.column{ width:100% }

@media screen and (min-width: 1024px) {
	/* For Desktop */
	.column { width: 33.333% }
}
body{
    background-color: olive;
}



section
{
    background-color: burlywood;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color:  burlywood;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  textarea {
    background-color: khaki;
    size: 200px
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: #555;
    color: white;
  }
.center {display: block; margin-left: auto; margin-right: auto; width: 50%; background-color: burlywood}
.centered {display: block; margin-left: auto; margin-right: auto; width: 20%;}

th, td {
  text-align: left;
  padding: 10px;
  
}
tr:nth-child(even) {
  background-color: #000;
  color: white;

}
tr:nth-child(odd) {
  background-color: white;
  color: black;
}
.addBtn {
  padding: 5px;
  width: 10%;
  background: #d9d9d9;
  color: gray;
  float: left;
  text-align: center;
  font-size: 10px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}
.addBtn:hover {
  background-color: #bbb;
}
